name: Public Health Pledge Badging Check
on:
  schedule:
    - cron: 0 10 31 5 *

jobs:
  create_issue:
    name: Check Public Health Pledge 
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create issue
        run: |
          if [[ $CLOSE_PREVIOUS == true ]]; then
            previous_issue_number=$(gh issue list \
              --label "$LABELS" \
              --json number \
              --jq '.[0].number')
            if [[ -n $previous_issue_number ]]; then
              gh issue close "$previous_issue_number"
              gh issue unpin "$previous_issue_number"
            fi
          fi
          new_issue_url=$(gh issue create \
            --title "$TITLE" \
            --assignee "$ASSIGNEES" \
            --label "$LABELS" \
            --body "$BODY")
          if [[ $PINNED == true ]]; then
            gh issue pin "$new_issue_url"
          fi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_REPO: ${{ github.repository }}
          TITLE: Check Public Health Pledge Badging
          ASSIGNEES: adeyinkaoresanya
          LABELS: check
          BODY: |
            Check the [Public Health Pledge Badge](https://publichealthpledge.com/badging) for updates, as this is tied to our DEI Event Badging Application.
          PINNED: false
          CLOSE_PREVIOUS: false
